html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(29,29,29);
}
p{
    text-align: center;
    font-size: larger;
    font-weight: 600;
    color:blue;
    font-family: cursive;
}
video{
    opacity: .85;
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
}

.message{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
